html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #77abb7;
}
nav {
    height: 3.5em;
    top: 0;
    width: 100%;
    display: flex;
    position: absolute;
    background-color: #1d3e53;
    letter-spacing: .1em;
    justify-content: center;
    vertical-align: middle;
}
nav > a {
    color: white;
    margin: auto;
    text-decoration: none;
    letter-spacing: .15em;
    font-family: sans-serif;
    font-size: large;
}

.body-content {
    position: absolute;
    width: 100%;
    top: 3.5em;
    bottom: 0;
    overflow-y: scroll;
}

.body-content-wrapper {
    padding: 0 1.5rem;
}

.cv-card {
    background-color: rgba(255, 255, 255, 0.75);
    height: inherit;
    width: inherit;
    padding: 20px;
    max-width: 1200px;
    margin: 1rem auto;
}

.cv-card > a {
    display: block;
    text-align: center;
}

.cv-card > h1, h2 {
    text-align: center;
}
h1 {
    margin-top: 0;
    text-align: center;
}

button {
    margin: 2px 0;
    padding: 2px 0;
    width: 100%;
}

button > a {
    text-decoration: none;
    color: black;
}

.my-name {
    text-decoration: underline;
}

.pub-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pub-table-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pub-table-row-title {
    min-width: 125px;
}

.pub-table-row-value {
    width: 15px;
}

.title {
    font-weight: bold;
}

.author {
    font-style: italic;
}

.details {
    padding-right: 1ch;
}

::marker {
    font-weight: bolder
}

.publication-list > li {
    padding-top: 10px;
    border-top: 1px solid black;
    margin-top: 10px;
}

u {
    text-decoration: none;
}
.label > u {
    font-weight: bold;
}
.label {
    display: inline;
    color: green;
}