.title {
    font-weight: bold;
}

.author {
    font-style: italic;
}

.details {
    padding-right: 1ch;
}

::marker {
    font-weight: bolder
}

.publication-list > li {
    padding-top: 10px;
    border-top: 1px solid black;
    margin-top: 10px;
}

u {
    text-decoration: none;
}
.label > u {
    font-weight: bold;
}
.label {
    display: inline;
    color: green;
}